.App {
  text-align: center;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.Banner {
  background-color: #61dafb;
  width: 100%;
}

.MenuBar {
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.MenuItems {
  display: inline-block;
  padding: 0 5em;
  cursor: pointer;
}

.MenuItems:hover {
  color: #ff00f2;
}


.App-link {
  color: #ff00f2;
}

.ContentPic {
  /* width: 100%;
  height: 100vh; */
  height: auto;
  width: 90%;
  padding: 0 5%;
}

.ContentHeader {
  padding: 3% 0 0 ;
}

.ContentDetails {
  padding: 1% 0;
  margin:0 20%; 
}

.Quote {
  color: #61dafb;
}

.ContactInfo{
  width: 100%;
  color: #282c34;
  background-color: #61dafb;
  margin-top: 5%;
}

.ContactPic {
  height: 1.5em; 
  width: auto;
  padding: 0 30px;
}

.ContactDetails {
  display: inline-block;
}

#ProfilePic {
  height: auto; 
  width: 30%;
  padding-top: 5%;
}

/* #AboutMe{
  padding-top: 5%;
} */

#Author {
  font-size: 70%;
}