.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner {
  margin: 0;
  background-color: #61dafb;
  width: 100%;
}

.Content{
  padding: 0 100px
}

.ContactInfo{
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.ContentPic {
  height: 15em; 
  width: auto;
  margin: 50px;
}

.ContactPic {
  height: 1.5em; 
  width: auto;
  padding: 0 30px;
}

.ContactDetails {
  display: inline-block;
}

#ProfilePic {
  height: 15em; 
  width: auto;
  padding-top: 30px;
}